@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(36, 36, 36, 0.87);
  background-color: #d6d6d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.logo {
  will-change: filter;
  transition: filter 300ms;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {filter: drop-shadow(0 0 1em #ffbdbdaa)}
  to {filter: drop-shadow(0 0 0.5em #ffbdbdaa)}
}

@media screen and (max-width: 599px) {
  input, select, textarea {
    font-size: 16px;
  }
}